<body>
    

    <h1>My Photo Gallery</h1>
        <table class="gallery">
        <tr>
            <td>
                    <img src="https://i.pinimg.com/564x/06/4a/17/064a173af13e68045c3417b047cdef62.jpg" alt="image1" width="200" height="200">
            </td>
                
            <td>
                    <img src="https://i.pinimg.com/564x/f3/c8/d9/f3c8d9e67780743aa05c25470e647180.jpg" alt="image2" width="200" height="200" >
            </td>
            <td>
                
                    <img src="https://media.timeout.com/images/103166737/1024/768/image.jpg" alt="image3" width="200" height="200">
            </td>
        </tr>
        <tr>
            <td>
               
                <img src="https://i.pinimg.com/564x/96/9a/fc/969afca116d998ceb37236e40780c874.jpg" alt="image4" width="200" height="200">
                
            </td>
            <td>
               
                <img src="https://media.timeout.com/images/103166739/1024/768/image.jpg" alt="image5" width="200" height="200">
                
            </td>
            <td>
                <img src="https://media.timeout.com/images/103166741/1024/768/image.jpg" alt="image6" width="200" height="200">
               
            </td>
        </tr>

    </table>